/* responsive */
@media (min-width: 992px){
.header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
    height: 75px;
}
.header-fixed .app-body {
    margin-top: 75px;
}
}
@media (max-width: 992px){
.app-header .navbar-nav .menu-list{
    display: none;
}}

@media (max-width: 991.98px){
.app-header {
    height: 66px;
}
.app-body {
    margin-top: 66px;
}
}

@media (max-width: 991.98px){
.app-header .navbar-toggler {
    color: #191515;
}}

/* responsive */

/* style header */
.app-header .navbar-brand img.navbar-brand-full{
    width: 100%;
    height: 75px;
}
.app-header .navbar-nav .menu-list a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    background: transparent;
    padding: 0 17px;
    text-decoration: none;
}
.app-header .navbar-brand {
    width:120px;
}
.sidebar {
    background: #072640;
}
.app-header .navbar-nav .nav-item .nameuserlms{
    height: 70px;
    width: 100%;
    line-height: 70px;
    color:#222;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item span.icon{
    font-size: 18px;
}
.nav-item span.menu-item-dsh{
  margin-left: 10px;
  text-transform: uppercase;
}
.sidebar .nav-item a:hover{
    background:#ff7417 !important;
}
.sidebar .nav-item a.active{
    background:#0d3454  !important;
}
.main{
    background:#e3e3e3;
}

/* style header */

/*---------------------- Footer ----------------------*/
footer.app-footer {
    background: #282828;
    padding-top: 90px;
  }
  footer.app-footer  p,footer .footer-list ul li a {
    color: #959595;
  }
  footer.app-footer  .row [class*="col-"] {margin-bottom: 70px;}
  footer.app-footer  .footer-logo p {margin: 20px 0 30px 0;}
  footer.app-footer  .footer-logo ul li {display: inline-block;}
  footer.app-footer  .footer-logo ul li a {
    width: 32px;
    height: 32px;
    border: 1px solid #454545;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #a8acb9;
    margin-right: 10px;
  }
  footer.app-footer  .footer-logo ul li a:hover {color: #fff;}
  footer.app-footer  h6 {
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  footer.app-footer  .footer-list ul li a {
    line-height: 36px;
  }
  footer.app-footer  .footer-subscribe form {
    height: 48px;
    position: relative;
    border-radius: 28px;
    overflow: hidden;
    margin-top: 20px;
  }
  footer.app-footer  .footer-subscribe form input {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background: #353535;
    color: #6c6c6c;
    font-size: 14px;
    padding: 0 45px 0 30px;
    border-radius: 28px;
  }
  footer.app-footer  .footer-subscribe form button {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    position: absolute;
    top:4px;
    right: 4px;
    bottom: 4px;
    z-index: 9;
    color: #fff;
  }
  footer.app-footer  .bottom-footer p,footer .bottom-footer ul li {line-height: 40px;}
  footer.app-footer  .bottom-footer ul li {
    float:left;
    padding-left: 50px;
  }
  footer.app-footer  .bottom-footer ul li h3 {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
  }
  footer.app-footer  .bottom-footer{
    margin: auto;
  }
  footer.app-footer  .bottom-footer {
    border-top: 1px solid #2d2d2d;
    padding: 20px 0 10px 0;
  }
  /*---------------------- Footer ----------------------*/

    /*---------------------- cards ----------------------*/
    .card{
      border-top: 2px solid #ff7417;
      box-shadow: 0px 0px 13px 5px rgb(0 0 0 / 10%);
      border-left:0px;
      border-right: 0px;
      border-bottom: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .card-header {
      background-color: #f3f3f3;
      font-size: 20px;
      text-transform: uppercase;
      color: #072640;
      padding: 0.75rem 1.25rem;
      border-bottom: 0px;
  }
  .card-header a{
    background: #f36824;
    color: #fff;
    padding: .5rem .5rem;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
}
.card-header a span.icon{
  color: #fff;
  margin-right: 10px;
}
  .card-header span.icon{
    font-size: 20px;
    color: #ff7417;
  }
.main {
  background: #f3f3f3;
  }
  .breadcrumb .breadcrumb-item{
    font-size: 15px;
    text-transform: uppercase;
  }
  .card .dataTables_filter{
    width: 100%;
    display: flex;
  }
  .card .dataTables_filter label{
    width: 100%;
    margin: 1rem 0;
    font-size: 18px;
    color: #0d3454;
    font-weight: 400;
  }
  .card .dataTables_filter input{
    width: 100%;
  }
  .card .dataTables_paginate{
 margin: auto;
 padding: 15px;
  }
  .form-control{
    border: 1px solid #ddd;
    height: 40px !important;
    border-radius: 0px;
  }
  .card table tr th{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #0d3454;
  }
  .card table tr td{
    font-size: 16px;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}
.card .dataTables_info{
  font-size: 16px;
  padding: 15px;
}
.card .pagination .paginate_button{
  margin-right: 20px;
}
.card .form-group label{
  font-size: 16px;
  color: #072640;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.card-details.card a{
  float: right;

}
.card-details .card-header i.icon{
margin-right: 10px;

}
.card .form-group p{
  font-size: 16px;
  margin: 0;
}
.card ul.pagination{
margin:0;
}
.card .pagination .paginate_button a{
  background: #fff;
  padding: 7px 3px;
  border-radius: 3px;
  color: #f36824;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 16%);
}
.buttons-action-lms{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons-action-lms .btn-primary{
  color: #fff;
  background-color: #f36824;
  border-color: #f36824;
  width: 8rem;
  font-weight: 500;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
}
.buttons-action-lms .btn-secondary {
  color: #303131;
  font-weight: 500;
  width: 8rem;
  height: 40px;
  text-transform: uppercase;
  background-color: #d0cfcf;
  border-color: #c8ced3;
}
.breadcrumb .breadcrumb-item a{
  color: #36d64c;
}
.badge-danger {
  color: #fff;
  background-color: #f36824;
}
.info-company-lms{
padding:0;
}
table tr td{
  text-align: center;
}
.btn-ghost-success {
  font-size: 20px;
}
.btn-ghost-info {
  font-size: 20px;
}
.btn-ghost-danger {
  font-size: 20px;
}
/*---------------------- cards ----------------------*/

/* details sessions */
.list-field-detalssessions .form-group{
  display: flex;
}
.list-field-detalssessions .listregistersession{
  display: block;
}
.list-field-detalssessions .form-group i.icon{
    color: #f36824;
    margin: -6px 10px 0 10px;
    font-size: 23px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}
.list-field-detalssessions .form-group label{
margin-right: 15px;
}
@media(max-width:768px){
.list-field-detalssessions .form-group{
  display: block;
}
.list-field-detalssessions .form-group i.icon {
  font-size: 20px;
}
.card .form-group label {
  font-size: 14px;
}
}
/* /* details sessions */ 






